<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - Login</title>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="shortcut icon" href="/img/banners/favicon2.png"> <!--Icono favicon-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>     
<body>
    <!HEADER/!>
        <%- include('../partials/header')%>
    <main>
        <form  method="POST" action="/user/login" >
            <h2 class="title">ACCEDER</h2>
            <p id="text-user-password">Ingrese su correo electrónico y su contraseña:</p>
            <div id="div-user">
                <!--<label form = "user"><i class="fa-solid fa-user"></i></label>-->
                <input type="email" name="email" id="email" placeholder="Email" value="<%= locals.old && old.email ? old.email : null %>" required>
                <div>
                    <% if (locals.errors && errors.email) { %>
                        <%=  errors.email.msg %>
                    <% } %>
                </div>
            </div>
            <div id="div-password">
                <!--<label form = "clave"><i class="fa-solid fa-lock"></i></label>-->
                <input type="password" name="password" id="password" placeholder="Contraseña" value="<%= locals.old && old.password ? old.password : null %>" required>
                <div>
                    <% if (locals.errors && errors.password) { %>
                        <%=  errors.password.msg %>
                    <% } %>
                </div>
            </div>
            <div id="remember-user-password">
                <label for="keepUserLogger">Mantener la sesion iniciada</label>
                <input id="electro" type="checkbox" value="true" name="keepUserLogger" ></p>
            </div>
            <div>
                <button type="submit" value="Login">
                    INGRESAR
                </button>
            </div>
        </form>
        <div>
            <p><a id="forgot-password" href="/user/restorePassword">¿Olvidaste tu contraseña?</a></p>
        </div>        
        <div>
            <p><a id="create-account" href="/user/register">¿No tienes una cuenta? ¡Unete a nosotros!</a></p>
        </div>
    </main>
    <!FOOTER/!>
    <%- include('../partials/footer')%>
</body>
</html>



