<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - Perfil de usuario</title>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="shortcut icon" href="/img/banners/favicon2.png"> <!--Icono favicon-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <!HEADER/!>
        <%- include('../partials/header')%>
        <main>
            <h2 class="titlePag">PERFIL DE USUARIO</h2>
            <div class="contenedorPerfil">
                <div class="contenedorUnoPerfil">
                    <img class="imgPerfil" src="/img/users/<%= user.image || 'placeholder.jpg' %>"></img>
                </div>
                <div class="contenedorDosPerfil">
                    <p class="textPerfil correoPerfil"><%=user.email%></p>
                    <div class="infoPerfil">
                        <p class="textPerfil">Nombre: <%=user.name%></p>
                        <p class="textPerfil">Apellido: <%=user.lastName%></p>
                        <p class="textPerfil">Fecha de nacimiento: <%=user.birthdate%></p>
                        <p class="textPerfil">Categoría: <%=user.category %></p>
                    </div>
                    <div class="contenedorBotones">
                        <form action="/user/logout" method="POST">
                            <button class="botonesPerfil" type="submit">
                                CERRAR SESION
                            </button>
                        </form>
                        <form method="GET" action="/user/restorePassword" >
                            <button class="botonesPerfil" type="submit">
                                CAMBIAR CONTRASEÑA
                            </button>
                        </form>
                        <form method="PUT" action="/user/edit/<%=user.id%>" >
                            <button class="botonesPerfil" type="submit">
                                EDITAR
                            </button>
                        </form>
                        <div class="botonEliminarSup">
                            <form method="POST" action="/user/profile/<%=user.id%>" >
                                <button class="botonEliminar" type="submit">
                                    ELIMINAR
                                </button>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>
    <!FOOTER/!>
        <%- include('../partials/footer')%>
</body>
</html>