<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers -  Listado de usuarios</title>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <!--Header/-->
    <%- include('../partials/header')%>
    <main>
        <h2 class="title">LISTADO DE USUARIOS</h2>
        <input type="text" name="nombre" value="<%=usersList.email %>" id="name" placeholder="Buscar por email" required>
        <ul>
            <% for (let i = 0; i < usersList.length; i++) { %>
            <li>
                <img src="/img/users/<%= usersList[i].image||'placeholder.jpg' %>"></img></a>
                <p><%=usersList[i].email%></p>
                <p><%=usersList[i].name +" "+ usersList[i].lastName  %></p>
                <p><%=usersList[i].image%></p>
                <p><%=usersList[i].category %></p>
                <form method="GET" action="/user/profile/<%=usersList[i].id%>">
                    <button type="submit">
                        Ver perfil
                    </button>
                </form>
            </li>
            <% } %> 
        </ul>
    </main>
    <!--Footer/-->
    <%- include('../partials/footer')%>
</body>
</html>

