<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers -  Listado de usuarios</title>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="shortcut icon" href="/img/banners/favicon2.png"> <!--Icono favicon-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <!--Header/-->
    <%- include('../partials/header')%>
    <main>
        
        <h2 class="titlePag">LISTADO DE USUARIOS</h2>
        <input class="searchBarUserList" type="text" name="search" placeholder=" Correo electronico" value="<%=usersList.email %>" id="name"  required>
        <a class="iconsUserList" href="#"><i class="fas fa-search"></i></a>
        <ul class="ulUserList">
            <% for (let i = 0; i < usersList.length; i++) { %>
            <li class="contenedorUL">
                <div class="contUnoUL">
                    <img class="imgPerfilUL" src="/img/users/<%= usersList[i].image||'placeholder.jpg' %>"></img></a>
                </div>
                <div class="contDosUL">
                    <p class="correoUL textUL"><%=usersList[i].email%></p>
                    <div class="infoUl">
                        <p class="textUL"><%=usersList[i].name +" "+ usersList[i].lastName  %></p>
                        <p class="textUL"><%=usersList[i].category %></p>
                    </div>
                    <form method="GET" action="/user/profile/<%=usersList[i].id%>">
                        <button class="buttonUser" type="submit">
                            Ver perfil
                        </button>
                    </form>
                </div>
            </li>
            <% } %> 
        </ul>
    </main>
    <!--Footer/-->
    <%- include('../partials/footer')%>
</body>
</html>

