<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - Detalle Producto</title>
    <link rel="stylesheet" href="/css/detail-product.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <!HEADER/!>
    <%- include('../partials/header')%>
    <main>
    <div id="contenedor">
        <div id="txt">
            <h1><%=product.name %></h1>
            <p>><%= "$" + product.price %></p>
            <div id="cart">
                <h2>Descripción</h2> 
                <p><%=product.description %></p>
                <div id="cart-total">
            </div>
        </div>
        <div id="counter">0</div>        <button id="incrementButton">Incrementar</button>
        <button id="decrementButton">Decrementar</button>
        <script id="incremdecrem">
            const counterElement = document.getElementById('counter');
            const incrementButton = document.getElementById('incrementButton');
            const decrementButton = document.getElementById('decrementButton');   
            let count = 0; 
            function updateCounter() {
                counterElement.textContent = count;
            }  
            incrementButton.addEventListener('click', () => {
                count++;
                updateCounter();
            }); 
            decrementButton.addEventListener('click', () => {
                if (count > 0) {
                    count--;
                    updateCounter();
                }
            });
            updateCounter();
        </script>
            </div>
            <div>
                <button type="button" id="agregar-carrito">Agregar al carrito</button>
            </div>
        <img id="image" src="/img/<%=product.image %>"alt="FotoDeMuestra">
        </div>
        <!--Carrusel cervezas-->
        <h1 class="Nuestros-productos">NUESTROS PRODUCTOS</h1>
        <div class="Carrusel">

            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
        </div>
    </main>
    <!FOOTER/!>
        <%- include('../partials/footer')%>
</body>
</html>
