<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - Detalle Producto</title>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Fuente de letra-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" /><!--Iconos-->
</head>

<body>
    <!--HEADER-->
    <%- include('../partials/header')%>
    <main class="main-detalle">
        <div class="contenedores">
            <div class="img">
                <img id="image" src="/img/products/<%=productDetail.image%>" alt="<%=productDetail.name%>">
            </div>
            <div class="txt">
                <h1 class="h1-detalle"><%=productDetail.name%></h1>
                <p><%= "$" + productDetail.price%></p>
                <div class="description">
                    <h2 class="h2-detalle">Descripción</h2> 
                    <p><%=productDetail.description%></p>
                </div>
            </div>
            <h3 class="h3-detalle">Detalles</h3>
            <div class="details">
                <div>
                    <span>Marca</span>
                    <span><p><%=productDetail.mark%></p></span>
                </div>
                <div>
                    <span>Volumen</span>
                    <p><%=productDetail.volume%></p>
                </div>
                <div>
                    <span>Ingredientes</span>
                    <p><%=productDetail.ingredients%></p>
                </div>
                <div>
                    <span>Estilo</span>
                    <p><%=productDetail.style%></p>
                </div>
                <div>
                    <span>Origen</span>
                    <p><%=productDetail.origin%></p>
                </div>
                <div>
                    <span>Envase</span>
                    <p><%=productDetail.packing%></p>
                </div>
                <div>
                    <span>¿Es sin TAAC?</span>
                    <p><%=productDetail.gluten%></p>
                </div>
                <div>
                    <span>¿Es cerveza artesanal?</span>
                    <p><%=productDetail.artisanal%></p>
                </div>
                <div>
                    <span>¿Es cerveza sin alcohol?</span>
                    <p><%=productDetail.alcohol%></p>
                </div>
            </div>
            <div id="counter">0</div>
            <div id="buttons-increm-decrem">
                <button id="incrementButton">Incrementar</button>
                <button id="decrementButton">Decrementar</button>
            </div>
            <script class="increm-decrem">
                const counterElement = document.getElementById('counter');
                const incrementButton = document.getElementById('incrementButton');
                const decrementButton = document.getElementById('decrementButton');   
                let count = 0; 
                function updateCounter() {
                    counterElement.textContent = count;
                }  
                incrementButton.addEventListener('click', () => {
                    count++;
                    updateCounter();
                }); 
                decrementButton.addEventListener('click', () => {
                    if (count > 0) {
                        count--;
                        updateCounter();
                    }
                });
                updateCounter();
            </script>
        </div>
        <div class="button-carrito">
            <button type="button" id="agregar-carrito">Agregar al carrito</button>
        </div>
        <div buttons>
            <div class="delete-button">
                <form action="/products/<%= productDetail.id %>?_method=DELETE" method="POST">
                    <button type="submit">Eliminar</button>
                </form>
            </div>
            <div class="edit-button">
                <a href="/products/<%= productDetail.id %>/editar">
                    <p>Editar</p>
                </a>
            </div>
        </div>
        <div>
            <!--Carrusel cervezas-->
            <h2 class="Nuestros-productos">Basado en tu última visita</h2>
            <div class="carrusel">
                <% for( let i = 0; i< products.length; i++) { %>
                    <%- include('./product-carrusel',{product:products[i]})%>
                <% } %>
            </div>
        </div>
    </main>
    <!--FOOTER/-->
    <%- include('../partials/footer')%>
</body>
</html>
