<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - Listado de Productos</title>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <!--HEADER/!-->
        <%- include('../partials/header')%>
    <main>
        <div class="product-container">
            <h1 id="title">Conocé nuestros productos!</h1>
        <ul class="ul-products">
            <% for( let i = 0; i< products.length; i++) { %>
                <li class="li-products">
                    <a class="product-button" href="/products/<%= products[i].id %>">
                        <h1><%=products.name%></h1>
                        <%- include('./product-card',{product:products[i]})%>
                    </a>
                </li>
            <% } %>
        </ul>
        </div>
        
    </main>
    <!--FOOTER/!-->
    <%- include('../partials/footer')%>
</body>
</html>